<nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-submenu nzTitle="TEST1" style="left: 50px; font-size: 18px;">
          <ul>
            <li nz-menu-item><a routerLink="/test1/page1" routerLinkActive="active" ariaCurrentWhenActive="page">PAGE1</a></li>
            <li nz-menu-item><a routerLink="/test1/page2" routerLinkActive="active" ariaCurrentWhenActive="page">PAGE2</a></li>
            <li nz-menu-item><a routerLink="/test1/page3" routerLinkActive="active" ariaCurrentWhenActive="page">PAGE3</a></li>
            <li nz-menu-item><a routerLink="/test1/page4" routerLinkActive="active" ariaCurrentWhenActive="page">PAGE4</a></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="TEST2" style="left: 70px; font-size: 18px;">
          <ul>
            <li nz-menu-item>PAGE1</li>
            <li nz-menu-item>PAGE2</li>
          </ul>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
</nz-layout>
