<nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-submenu nzTitle="test1">
          <ul>
            <li nz-menu-item><a routerLink="/test1/page1" routerLinkActive="active" ariaCurrentWhenActive="page">page1</a></li>
            <li nz-menu-item><a routerLink="/test1/page2" routerLinkActive="active" ariaCurrentWhenActive="page">page2</a></li>
            <li nz-menu-item><a routerLink="/test1/page3" routerLinkActive="active" ariaCurrentWhenActive="page">page3</a></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="test2">
          <ul>
            <li nz-menu-item>page1</li>
            <li nz-menu-item>page2</li>
          </ul>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
</nz-layout>
