/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.markdown-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.markdown-table tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.markdown-table tr:hover {
    background-color: #ddd;
}

.markdown-table th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.markdown-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.markdown-blockquote {
    background: rgba(10, 133, 255, .14);
    border-left: 4px solid #0066cc;
    border-radius: 4px;
    color: #666;
    margin: 20px 0;
    padding: 1px 20px;
}

.markdown-image2 {
    width: 100%;
}
